<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Controls UI</title>
    <link rel="stylesheet" href="static/styles/base.css">
</head>

<body>
    <header>
        <div class="center-uncontained">SYSTEM CONTROLS</div>
    </header>

    <div class="column-container", style="width: 25%;">
        <nav>
            <form action="/home" method="post">
                <button type="submit", name="button", value="home">Home</button>
                <button type="submit", name="button", value="status">Trailer Status</button>
                <button type="submit", name="button", value="pid">PID Control</button>
                <button type="submit", name="button", value="vision">Vision</button>
                <button type="submit", name="button", value="mission_planning">Mission Planning</button>
            </form>
        </nav>
    </div>

    {% block column_containers %}
    <div class="column-container">
        <div class="status-bar">ROS Connection Status: CLOSED</div>
    </div>

    <div class="column-container">
        <div class="controls">
            <form action="/home" method="post">
                <button type="submit", name="button", value="kill">KILL ROBOT</button>
                <button type="submit", name="button", value="launch">LAUNCH ROBOT</button>
            </form>
        </div>
    </div>
    {% endblock %}

    

    <button class="launch-scripts-button">
        <img src="https://via.placeholder.com/30" alt="Launch Scripts" width="30" height="30">
    </button>

    </body>
</html>
